<!doctype html>
<html lang="en">

{% extends "index.html" %}

{% block body %}
<body>
<h2>{% block title %} Compare by item type {% endblock %}</h2>
<form method="post">
     <input type="checkbox" name="csv" value="case"><span title="Mark this option if you want to download the results as a TSV (tab separated value) instead of seeing them in the interface">Download results as csv? &#8505;</span> </input>
     <div class="input-group">
        <span class="input-group-addon"><span title="For instance, ESS for European Social Survey">Select survey project &#8505;</span>
        <select name="study" class="selectpicker">
             {% for study in studies %}
                 <option value= "{{study}}">{{study}}</option>"
             {% endfor %}
        </select>
    </div>    
    <div class="input-group">
        <span class="input-group-addon"><span title="Year of the study. For instance, 2020 for SHARE COVID-19">Select year &#8505;</span>
            <select name="year" class="selectpicker">
             {% for year in years %}
                 <option value= "{{year}}">{{year}}</option>"
             {% endfor %}
            </select>
    </div>   
     <div class="input-group">
        <span class="input-group-addon"><span title="INTRODUCTION, INSTRUCTION, REQUEST or RESPONSE">Select item type &#8505;</span>
        <select name="item_type" class="selectpicker">
             {% for item_type in item_types %}
                 <option value= "{{item_type}}">{{item_type}}</option>"
             {% endfor %}
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, French from France is referenced as FRE_FR">Select language/country 1 &#8505;</span>
        <select name="langcountry1" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, French from France is referenced as FRE_FR">Select language/country 2 &#8505;</span>
        <select name="langcountry2" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, French from France is referenced as FRE_FR">Select language/country 3 &#8505;</span>
        <select name="langcountry3" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, French from France is referenced as FRE_FR">Select language/country 4 &#8505;</span>
        <select name="langcountry4" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, French from France is referenced as FRE_FR">Select language/country 5 &#8505;</span>
        <select name="langcountry5" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, French from France is referenced as FRE_FR">Select language/country 6 &#8505;</span>
        <select name="langcountry6" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, French from France is referenced as FRE_FR">Select language/country 7 &#8505;</span>
        <select name="langcountry7" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, French from France is referenced as FRE_FR">Select language/country 8 &#8505;</span>
        <select name="langcountry8" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
    </div>


      
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>

{% endblock %}
