<!doctype html>
<html lang="en">

{% extends "index.html" %}


{% block body %}
<body>
<h2>{% block title %} Compare Word Collocations {% endblock %}</h2>
<form method="post">
    <div class="form-group">
        <label for="word">First Word</label>
        <input type="text" name="word1"
               placeholder="Type first word" class="form-control"
                   value="{{ request.form['word1'] }}"></input>
        <label for="source_word">Second Word</label>
        <input type="text" name="word2"
               placeholder="Type second word" class="form-control"
                   value="{{ request.form['word2'] }}"></input>
        <input type="checkbox" name="csv" value="case"><span title="Mark this option if you want to download the results as a TSV (tab separated value) instead of seeing them in the interface">Download results as csv? &#8505;</span> </input>
        <input type="checkbox" name="trigram" value="case"><span title="Compute collocations using trigrams instead of bigrams">Use trigrams? &#8505;</span> </input>
    </div>

<div class="input-group">
    <span class="input-group-addon"><span title="The number of collocations to be retrieved. Results are ranked by frequency">Number of collocations&#8505;</span>
        <select name="n_collocations" class="selectpicker">
             {% for n_collocation in n_collocations %}
                 <option value= "{{n_collocation}}">{{n_collocation}}</option>"
             {% endfor %}
        </select>
</div>
<div class="input-group">
    <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, Catalan from Spain is referenced as CAT_ES">Filter first word by language/country? &#8505;</span>
        <select name="langcountry1" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
</div>
<div class="input-group">
    <span class="input-group-addon"><span title="Using ISO codes to represent country and language. For instance, Catalan from Spain is referenced as CAT_ES">Filter second word by language/country? &#8505;</span>
        <select name="langcountry2" class="selectpicker">
             {% for langcountry in langcountries %}
                 <option value= "{{langcountry}}">{{langcountry}}</option>"
             {% endfor %}
        </select>
</div>
<div class="input-group">
        <span class="input-group-addon"><span title="INTRODUCTION, INSTRUCTION, REQUEST or RESPONSE">Filter first word by item type? &#8505;</span>
        <select name="item_type1" class="selectpicker">
             {% for item_type in item_types %}
                 <option value= "{{item_type}}">{{item_type}}</option>"
             {% endfor %}
        </select>
</div>
<div class="input-group">
        <span class="input-group-addon"><span title="INTRODUCTION, INSTRUCTION, REQUEST or RESPONSE">Filter second word by item type? &#8505;</span>
        <select name="item_type2" class="selectpicker">
             {% for item_type in item_types %}
                 <option value= "{{item_type}}">{{item_type}}</option>"
             {% endfor %}
        </select>
</div>
<div class="input-group">
    <span class="input-group-addon"><span title="For instance, ESS for European Social Survey">Filter first word by survey project? &#8505;</span>
        <select name="study1" class="selectpicker">
             {% for study in studies %}
                 <option value= "{{study}}">{{study}}</option>"
             {% endfor %}
        </select>
</div>
<div class="input-group">
    <span class="input-group-addon"><span title="For instance, ESS for European Social Survey">Filter second word by survey project? &#8505;</span>
        <select name="study2" class="selectpicker">
             {% for study in studies %}
                 <option value= "{{study}}">{{study}}</option>"
             {% endfor %}
        </select>
</div>
<div class="input-group">
    <span class="input-group-addon"><span title="Year of the study. For instance, 2020 for SHARE COVID-19">Filter first word by year? &#8505;</span>
        <select name="year1" class="selectpicker">
             {% for year in years %}
                 <option value= "{{year}}">{{year}}</option>"
             {% endfor %}
        </select>
</div>
<div class="input-group">
    <span class="input-group-addon"><span title="Year of the study. For instance, 2020 for SHARE COVID-19">Filter second word by year? &#8505;</span>
        <select name="year2" class="selectpicker">
             {% for year in years %}
                 <option value= "{{year}}">{{year}}</option>"
             {% endfor %}
        </select>
</div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>

{% endblock %}